In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('002707.csv', parse_dates=['Day'])

In [4]:
df

          Day  Closing  Volume
0  2022-07-22     6.81    6.81
1  2022-07-25     6.58    6.58
2  2022-07-26     6.93    6.93
3  2022-07-27     6.73    6.73
4  2022-07-28     6.66    6.66
..        ...      ...     ...
95 2022-12-12    10.26   10.26
96 2022-12-13    10.65   10.65
97 2022-12-14    11.23   11.23
98 2022-12-15    10.63   10.63
99 2022-12-16    10.62   10.62

[100 rows x 3 columns]

In [6]:
# 计算5日均线和20日均线
df['SMA5'] = df['Closing'].rolling(window=5).mean()
df['SMA20'] = df['Closing'].rolling(window=20).mean()

In [7]:
df

          Day  Closing  Volume    SMA5   SMA20
0  2022-07-22     6.81    6.81     NaN     NaN
1  2022-07-25     6.58    6.58     NaN     NaN
2  2022-07-26     6.93    6.93     NaN     NaN
3  2022-07-27     6.73    6.73     NaN     NaN
4  2022-07-28     6.66    6.66   6.742     NaN
..        ...      ...     ...     ...     ...
95 2022-12-12    10.26   10.26   9.818  8.6615
96 2022-12-13    10.65   10.65  10.134  8.7540
97 2022-12-14    11.23   11.23  10.512  8.8950
98 2022-12-15    10.63   10.63  10.584  8.9980
99 2022-12-16    10.62   10.62  10.678  9.1210

[100 rows x 5 columns]

In [9]:
# 初始化交易信号列
df['Signal'] = 0
df

          Day  Closing  Volume    SMA5   SMA20  Signal
0  2022-07-22     6.81    6.81     NaN     NaN       0
1  2022-07-25     6.58    6.58     NaN     NaN       0
2  2022-07-26     6.93    6.93     NaN     NaN       0
3  2022-07-27     6.73    6.73     NaN     NaN       0
4  2022-07-28     6.66    6.66   6.742     NaN       0
..        ...      ...     ...     ...     ...     ...
95 2022-12-12    10.26   10.26   9.818  8.6615       0
96 2022-12-13    10.65   10.65  10.134  8.7540       0
97 2022-12-14    11.23   11.23  10.512  8.8950       0
98 2022-12-15    10.63   10.63  10.584  8.9980       0
99 2022-12-16    10.62   10.62  10.678  9.1210       0

[100 rows x 6 columns]

In [10]:
# 生成交易信号
df.loc[df['SMA5'] > df['SMA20'], 'Signal'] = 1  # 短期均线上穿长期均线，买入信号
df.loc[df['SMA5'] < df['SMA20'], 'Signal'] = -1  # 短期均线下穿长期均线，卖出信号
df

          Day  Closing  Volume    SMA5   SMA20  Signal
0  2022-07-22     6.81    6.81     NaN     NaN       0
1  2022-07-25     6.58    6.58     NaN     NaN       0
2  2022-07-26     6.93    6.93     NaN     NaN       0
3  2022-07-27     6.73    6.73     NaN     NaN       0
4  2022-07-28     6.66    6.66   6.742     NaN       0
..        ...      ...     ...     ...     ...     ...
95 2022-12-12    10.26   10.26   9.818  8.6615       1
96 2022-12-13    10.65   10.65  10.134  8.7540       1
97 2022-12-14    11.23   11.23  10.512  8.8950       1
98 2022-12-15    10.63   10.63  10.584  8.9980       1
99 2022-12-16    10.62   10.62  10.678  9.1210       1

[100 rows x 6 columns]

In [11]:
# 计算持仓
df['Position'] = df['Signal'].diff()
df

          Day  Closing  Volume    SMA5   SMA20  Signal  Position
0  2022-07-22     6.81    6.81     NaN     NaN       0       NaN
1  2022-07-25     6.58    6.58     NaN     NaN       0       0.0
2  2022-07-26     6.93    6.93     NaN     NaN       0       0.0
3  2022-07-27     6.73    6.73     NaN     NaN       0       0.0
4  2022-07-28     6.66    6.66   6.742     NaN       0       0.0
..        ...      ...     ...     ...     ...     ...       ...
95 2022-12-12    10.26   10.26   9.818  8.6615       1       0.0
96 2022-12-13    10.65   10.65  10.134  8.7540       1       0.0
97 2022-12-14    11.23   11.23  10.512  8.8950       1       0.0
98 2022-12-15    10.63   10.63  10.584  8.9980       1       0.0
99 2022-12-16    10.62   10.62  10.678  9.1210       1       0.0

[100 rows x 7 columns]

In [12]:
# 填充持仓列的第一个NaN值
df.loc[0, 'Position'] = df.loc[0, 'Signal']
df

          Day  Closing  Volume    SMA5   SMA20  Signal  Position
0  2022-07-22     6.81    6.81     NaN     NaN       0       0.0
1  2022-07-25     6.58    6.58     NaN     NaN       0       0.0
2  2022-07-26     6.93    6.93     NaN     NaN       0       0.0
3  2022-07-27     6.73    6.73     NaN     NaN       0       0.0
4  2022-07-28     6.66    6.66   6.742     NaN       0       0.0
..        ...      ...     ...     ...     ...     ...       ...
95 2022-12-12    10.26   10.26   9.818  8.6615       1       0.0
96 2022-12-13    10.65   10.65  10.134  8.7540       1       0.0
97 2022-12-14    11.23   11.23  10.512  8.8950       1       0.0
98 2022-12-15    10.63   10.63  10.584  8.9980       1       0.0
99 2022-12-16    10.62   10.62  10.678  9.1210       1       0.0

[100 rows x 7 columns]

In [14]:
# 计算每日收益率
df['Return'] = df['Closing'].pct_change()
df

          Day  Closing  Volume    SMA5   SMA20  Signal  Position    Return
0  2022-07-22     6.81    6.81     NaN     NaN       0       0.0       NaN
1  2022-07-25     6.58    6.58     NaN     NaN       0       0.0 -0.033774
2  2022-07-26     6.93    6.93     NaN     NaN       0       0.0  0.053191
3  2022-07-27     6.73    6.73     NaN     NaN       0       0.0 -0.028860
4  2022-07-28     6.66    6.66   6.742     NaN       0       0.0 -0.010401
..        ...      ...     ...     ...     ...     ...       ...       ...
95 2022-12-12    10.26   10.26   9.818  8.6615       1       0.0  0.010837
96 2022-12-13    10.65   10.65  10.134  8.7540       1       0.0  0.038012
97 2022-12-14    11.23   11.23  10.512  8.8950       1       0.0  0.054460
98 2022-12-15    10.63   10.63  10.584  8.9980       1       0.0 -0.053428
99 2022-12-16    10.62   10.62  10.678  9.1210       1       0.0 -0.000941

[100 rows x 8 columns]

In [15]:
# 计算策略收益率
df['StrategyReturn'] = df['Position'].shift() * df['Return']
df

,Day,Closing,Volume,SMA5,SMA20,Signal,Position,Return,StrategyReturn
0,2022-07-22,6.81,6.81,NaN,NaN,0,0.0,NaN,NaN
1,2022-07-25,6.58,6.58,NaN,NaN,0,0.0,-0.033774,-0.0
2,2022-07-26,6.93,6.93,NaN,NaN,0,0.0,0.053191,0.0
3,2022-07-27,6.73,6.73,NaN,NaN,0,0.0,-0.028860,-0.0
4,2022-07-28,6.66,6.66,6.742,NaN,0,0.0,-0.010401,-0.0
...,...,...,...,...,...,...,...,...,...
95,2022-12-12,10.26,10.26,9.818,8.6615,1,0.0,0.010837,0.0
96,2022-12-13,10.65,10.65,10.134,8.7540,1,0.0,0.038012,0.0
97,2022-12-14,11.23,11.23,10.512,8.8950,1,0.0,0.054460,0.0
98,2022-12-15,10.63,10.63,10.584,8.9980,1,0.0,-0.053428,-0.0
99,2022-12-16,10.62,10.62,10.678,9.1210,1,0.0,-0.000941,-0.0

In [16]:
# 计算累积收益率
df['CumulativeReturn'] = (1 + df['StrategyReturn']).cumprod()
df

,Day,Closing,Volume,SMA5,SMA20,Signal,Position,Return,StrategyReturn,CumulativeReturn
0,2022-07-22,6.81,6.81,NaN,NaN,0,0.0,NaN,NaN,NaN
1,2022-07-25,6.58,6.58,NaN,NaN,0,0.0,-0.033774,-0.0,1.000000
2,2022-07-26,6.93,6.93,NaN,NaN,0,0.0,0.053191,0.0,1.000000
3,2022-07-27,6.73,6.73,NaN,NaN,0,0.0,-0.028860,-0.0,1.000000
4,2022-07-28,6.66,6.66,6.742,NaN,0,0.0,-0.010401,-0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...
95,2022-12-12,10.26,10.26,9.818,8.6615,1,0.0,0.010837,0.0,0.751406
96,2022-12-13,10.65,10.65,10.134,8.7540,1,0.0,0.038012,0.0,0.751406
97,2022-12-14,11.23,11.23,10.512,8.8950,1,0.0,0.054460,0.0,0.751406
98,2022-12-15,10.63,10.63,10.584,8.9980,1,0.0,-0.053428,-0.0,0.751406
99,2022-12-16,10.62,10.62,10.678,9.1210,1,0.0,-0.000941,-0.0,0.751406

In [17]:
# 计算总收益率
total_return = df['CumulativeReturn'].iloc[-1] - 1
print(f"Total Return: {total_return:.2%}")

Total Return: -24.86%